<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="customer_register" instance="Programs\Program\Observer\AddCustomerData" />
    </event>
     <event name="checkout_onepage_controller_success_action">
        <observer name="programs_program_success_action" instance="Programs\Program\Observer\AfterPlaceOrder"  />
    </event>
</config>

